body {
    background-color: #7a7e99;
    color: white;
}

tr:hover {
    background-color: rgba(144, 144, 144, 0.6) !important;
}
th {
    background-color: #424fa1;
}
table, th, td, tr {
    border: 1px solid beige;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

    tr:nth-child(even) {
        background-color: #7cb6b8;
    }

    tr:nth-child(odd) {
        background-color: #5986ab;
    }

.nameL {
    text-align: left;
}

.nameR {
    text-align: right;
}

.middle {
    border-left: none;
    border-right: none;
}

.score {
    border-left: none;
    border-right: none;
}
