body {
    background-color: burlywood;
    color: #202020;
}

th {

    
}
table, th, td, tr {
    border: 1px solid beige;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

    tr:nth-child(even) {
        background-color:darkkhaki;
    }

    tr:nth-child(odd) {
        background-color:khaki;
    }

.nameL {
    text-align: left;
}

.nameR {
    text-align: right;
}

.middle {
    border-left: none;
    border-right: none;
}

.score {
    border-left: none;
    border-right: none;
}
